<h1>Article List</h1>

<table>
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Result</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td>
        <% if a.result != nil %>
          <%= a.result %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>